<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<link rel="stylesheet" href="./write2.css">

<body>
  <div id="root">
    <header>
      <div class="logo">Way Home</div>
      <div class="sign">
        <a href="" class="sign-in">
          <div>로그인</div>
        </a>
        <a href="" class="sign-up">
          <div>회원가입</div>
        </a>
      </div>
    </header>
    <main>
      <section>
        <div class="img">
          <img class="slider" src='../../../img/스핑크스.jpg' alt="">
        </div>
        <div class="gg" >
          <img src="../../public/detail/화살표 (2).png" alt="">
        </div>
        <div class="hh">
          <img src="../../public/detail/화살표 (2).png" alt="">
        </div>
      </section>
      <article>
        <div>현재위치</div>
        <div>성별</div>
        <div>견종</div>
        <div>나이</div>
        <div>중성화 유무</div>
        <div>발견된 곳</div>
        <div>특이사항</div>
      </article>
    </main>
  </div>
  <script>

    let count = 0;
    let imageArray = ['../../../img/istockphoto-508423060-170667a.jpg','../../../img/스핑크스.jpg', '../../../img/img.jpg']
    let img = document.getElementsByClassName('img')
    let slider = document.getElementsByClassName('slider')
    let next = document.getElementsByClassName('gg')
    let previous = document.getElementsByClassName('hh')

    next[0].addEventListener('click',()=>{
      count += 700


      for(let i = 0; i < imageArray.length; i++){
        slider[i]= imageArray[i]
        slider[i].style.transform=`translateX(${count}px)`
        slider[i].style.trasition="1s";
    
      }
      
    })

    previous[0].addEventListener('click',()=>{
      count -= 700

      for(let i = 0; i < imageArray.length; i++){
        slider[i].src = imageArray[i]
        slider[i].style.transform=`translateX(${count}px)`
        slider[i].style.trasition="1s";
      }

})

    

  </script>
</body>

</html>